name: Deploy OpenStreetMap Website

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Plan and Apply
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2 # Change to your preferred region

      - name: Initialize Terraform
        run: terraform -chdir=terraform init

      - name: Plan Terraform
        run: terraform -chdir=terraform plan -out=tfplan \
          -var="key_name=${{ secrets.TF_VAR_key_name }}" \
          -var="db_password=${{ secrets.TF_VAR_db_password }}" \
          -var="db_username=${{ secrets.TF_VAR_db_username }}" \
          -var="db_name=${{ secrets.TF_VAR_db_name }}"

      # Uncomment the following step when you're ready to apply the changes
      # - name: Apply Terraform
      #   run: terraform -chdir=terraform apply -auto-approve tfplan
