name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Make terraform_deploy.sh executable
      run: chmod +x ./scripts/terraform_deploy.sh

    - name: Run Terraform Plan
      run: ./scripts/terraform_deploy.sh
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        DB_USERNAME: ${{ secrets.DB_USERNAME }}
        DB_NAME: ${{ secrets.DB_NAME }}
        KEY_NAME: ${{ secrets.KEY_NAME }}
        ACCOUNT_ID: ${{ secrets.ACCOUNT_ID }}
        AWS_DEFAULT_REGION: eu-central-1
