name: Plan Terraform Deployment

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Plan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.0.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2 # Change to your preferred region

      - name: Set executable permissions
        run: chmod +x scripts/terraform_deploy.sh

      - name: Run Terraform Plan
        run: ./scripts/terraform_deploy.sh \
          ${{ secrets.TF_VAR_key_name }} \
          ${{ secrets.TF_VAR_account_id }} \
          ${{ secrets.TF_VAR_db_password }} \
          ${{ secrets.TF_VAR_db_username }} \
          ${{ secrets.TF_VAR_db_name }}
